{{#if modalGuard}}
    <div class="modal fade" tabindex=-1 role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Copy to ...</h3>
                </div>
                <div class="modal-body">
                    {{directory-viewer }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default {{if isUpdating "disabled"}}" {{action 'close'}}>{{fa-icon icon="close"}} Cancel</button>
                    <button type="submit" class="btn btn-primary {{if isUpdating "disabled"}}" {{action 'copy'}}>{{fa-icon icon="file-o"}} Move</button>
               </div>
            </div>
        </div>
    </div>
{{/if}}
