<div class="row">
  <div class={{get-value-from-columns columnHeaders 'name' 'columnClass'}}>
    {{#if file.isDirectory}}
      {{#link-to 'files' (query-params path=file.path) bubbles=false}}{{fa-icon "folder-o"}} {{file.name}}{{/link-to}}
    {{else}}
      {{fa-icon "file-o"}} {{file.name}}
    {{/if}}
  </div>
  <div class={{get-value-from-columns columnHeaders 'size' 'columnClass'}}>
    {{#unless file.isDirectory}}
      {{size-humanize file.size}}
    {{else}}
      --
    {{/unless}}
  </div>
  <div class={{get-value-from-columns columnHeaders 'date' 'columnClass'}}>
    {{show-date file.modificationTime 'YYYY-MM-DD HH:mm'}}
  </div>
  <div class={{get-value-from-columns columnHeaders 'owner' 'columnClass'}}>
    {{file.owner}}
  </div>
  <div class={{get-value-from-columns columnHeaders 'group' 'columnClass'}}>
    {{file.group}}
  </div>
  <div class={{get-value-from-columns columnHeaders 'permission' 'columnClass'}}>
    {{file.permission}}
  </div>
</div>
