<button type="button" class="btn btn-sm btn-primary" id="myBtn" {{action "openModal"}} >{{fa-icon icon="plus"}} New Folder</button>

{{#if modalGuard}}
  <!-- Modal Dialog -->
  <div class="modal fade" id="createDirectoryModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{{fa-icon "folder-o"}} Add new folder</h4>
        </div>
        <form role="form">
          <div class="modal-body">
            <div class="form-group {{if hasError "has-error"}}">
              <label>Name</label>
              {{input type="text" class="form-control" placeholder="Enter folder name..." value=folderName}}
              {{#if hasError}}<span class="help-block">{{errorMessage}}</span>{{/if}}
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" {{action "close"}}>{{fa-icon "close"}} Cancel</button>
            <button type="submit" class="btn btn-default btn-primary" {{action "create"}} >{{fa-icon "plus"}} Add</button>
          </div>
        </form>
      </div>
    </div>
  </div>
<!-- Modal Dialog Ends -->
{{/if}}
