<div class="row">
  <div class="col-md-5">
    {{files-breadcrumb path=path}}
  </div>
  <!-- Include directory name and rename button -->
  <div class="col-md-offset-2 col-md-5">
    <p class="pull-right">
      {{ new-directory }}
      {{ upload-file }}
    </p>
  </div>
</div>

<div class="row">
  <div class="well well-sm col-md-12">
    <div class="col-md-8">
      {{context-row-menu entriesCount=arrangedContent.length
        openFolderAction="openFolder"
        refreshCurrentRouteAction="refreshCurrentRoute"
      }}
    </div>
    <div class="col-md-3">
      {{file-search searchText=searchText searchAction="searchFiles"}}
    </div>
    <div class="col-md-1">
      <div class="row">
      <button class="btn btn-sm btn-primary btn-block" {{action "selectAll" allSelected}}>
        {{#unless allSelected}}
          {{fa-icon icon="plus" size="lg"}} Select All
        {{else}}
          {{fa-icon icon="minus" size="lg"}} Deselect All
        {{/unless}}
      </button>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12" id="filesCollectionView">
    {{#files-collection items=arrangedContent
      columnsConfig=columns
      sortEnabled=sortEnabled
      sortAction="sortFiles"
      resetSelection="deselectAll"
      selectAllAction="selectAll"
      containerId="filesCollectionView" as |file index|}}
      {{file-row index=index
        file=file
        columnHeaders=columns
        singleSelectAction="selectSingle"
        multiSelectAction="selectMultiple"}}
    {{/files-collection}}
  </div>
</div>

{{outlet}}
