<div class="row">
  <div class="col-md-5">
    {{files-breadcrumb path=path}}
  </div>
  <!-- Include directory name and rename button -->
  <div class="col-md-offset-2 col-md-5">
    <p class="pull-right">
      <!-- Add components -->
      <button type="button" class="btn btn-primary">{{fa-icon icon="plus"}} New Directory</button>
      <button type="button" class="btn btn-success">{{fa-icon icon="upload"}} Upload</button>
    </p>
  </div>
</div>

<div class="row">
  <div class="well well-sm col-md-12">
    This is the context menu section. Need to work on it later
  </div>
</div>

<div class="row">
  <div class="col-md-12" id="filesCollectionView">
    {{#files-collection items=model columnsConfig=columns containerId="filesCollectionView" as |file index|}}
      {{file-row file=file columnHeaders=columns}}
    {{/files-collection}}
  </div>
</div>

{{outlet}}
