<div class="row text-center loading-spinner">
  {{fa-icon "spinner" spin=true size=2}}
  {{fa-icon "spinner" spin=true size=3}}
  {{fa-icon "spinner" spin=true size=5}}
  {{fa-icon "spinner" spin=true size=3}}
  {{fa-icon "spinner" spin=true size=2}}
</div>